<div style="align-self: center;">
    <div class="wrapper">
        <ul class="StepProgress">
            <li class="StepProgress-item <%= step == 1 ? 'current' : step > 1 ? 'is-done' : '' %>">
                <strong>Choose System</strong>
            </li>
            <li class="StepProgress-item <%= step == 2 ? 'current' : step > 2 ? 'is-done' : '' %>">
                <strong>URL Parser</strong>
            </li>
            <li class="StepProgress-item <%= step == 3 ? 'current' : step > 3 ? 'is-done' : '' %>">
                <strong>Path Parser</strong>
            </li>
            <li class="StepProgress-item <%= step == 4 ? 'current' : step > 4 ? 'is-done' : '' %>">
                <strong>Input Parser</strong>
            </li>
            <li class="StepProgress-item <%= step == 5 ? 'current' : step > 5 ? 'is-done' : '' %>">
                <strong>Result</strong>
            </li>
        </ul>
    </div>
</div>