<%- include('./partials/header.partial.ejs') %>

    <style>
        input {
            display: block;
            margin: 0.75em;
        }
    </style>

    <!-- Canvas -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/" target="_blank">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>

            <br>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }
            </style>


            <form action="/input_parser" method="post">
                <p>Write <b>,</b> then name the <b>Numbering-System (NORMAL/CIPHER)</b> to count pages.</p>
                <input type="text" name="pathArr" value="<%=pathArr%>" readonly>

                <% inputArr.forEach((ele, index)=> { %>
                    <input type="text" id="<%= ele.index %>" name="inputs" value="<%=ele.index%>,<%=ele.text%>" />
                    <% }); %>

                        <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                            <input type="submit" value="Submit">
                            <span class="overlay__btn-emoji"></span>
                        </button>
            </form>


            <%- include('./partials/steps.ejs') %>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script type="module" src="js/new.js"></script> -->

</body>

</html>